{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="contacts-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<div class="sect-title">
								<div class="row">
									<div class="col-md-4 text-md-left">

										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-4 mt-4 mt-md-0">

										<h3>Контакты</h3>

									</div>
								</div>
							</div>

							<div class="contacts-content">
								<h6 class="mb-4 highlight-text text-center">Наши сотрудники</h6>

								<div class="our-workers-carousel owl-carousel">
									{% for manager in managers %}
										<div class="our-worker-item card-box">
											<div class="worker-photo" style="background-image: url({{ manager.image ?: '' }});background-size: cover;
													width: 100%;
													height: 250px;"></div>
										<h6 class="worker-name">{{ manager.fullName }}</h6>
										<div class="worker-position">менеджер</div>
										<div class="worker-phone"><i class="fa fa-phone"></i> {{ manager.phone }}</div>
									</div>
									{% endfor %}
								</div>

								<div class="contacts-info">
									<div class="row">
										<div class="col-md-10 offset-md-1">

											<h6 class="my-4 highlight-text text-center">Наши контакты</h6>

											{{ page.contacts | raw }}

											<h6 class="my-4 highlight-text text-center">Наши реквизиты</h6>

                                            {{ page.requisites | raw }}


										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

			<section id="contact-map-sect">
				<div id="contact-map">
				    <h6 class="mt-4 highlight-text text-center">Схема проезда</h6>

                                            {{ page.map | raw }}
				</div>
			</section>

		</main>

{% endblock %}
