{% extends 'base.html.twig' %}
{% import 'macros/recursive-group-navigation.html.twig' as myMacros %}

{% block body %}

		<main class="main">

			<section id="breadcrumbs-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<ul class="breadcrumbs">
								<li class="breadcrumbs-item"><a href="{{ path("homepage") }}">Главная</a></li>
								{% if group %}
									{{ myMacros.recursiveGroupNavigation(group) }}
									<li class="breadcrumbs-item active">{{ group.name }}</li>
								{% else %}
									<li class="breadcrumbs-item active">Каталог</li>
								{% endif %}
							</ul>

						</div>
					</div>
				</div>
			</section>

			<section id="subcategories-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<h3>{{ group ? group.name : "Каталог" }}</h3>
							</div>

							<div class="subcategories-list">
								<div class="row">
									{% set showGroups = group ? group.childrenGroups : parentGroups %}
									{% for childGroup in showGroups %}
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="{{ group_url(childGroup) }}" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url({{ childGroup.photo }});"></div>
											<h4 class="subcategory-title">{{ childGroup.name }}</h4>
										</a>

									</div>
									{% endfor %}
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

            {% include 'search-form.html.twig' %}

		</main>

{% endblock %}