{% extends 'base.html.twig' %}
{% import 'macros/recursive-group-navigation.html.twig' as myMacros %}

{% block body %}

		<main class="main">

			<section id="breadcrumbs-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<ul class="breadcrumbs">
								<li class="breadcrumbs-item"><a href="{{ path("homepage") }}">Главная</a></li>
                                {{ myMacros.recursiveGroupNavigation(group) }}
								<li class="breadcrumbs-item active">{{ group.name }}</li>
								{#<li class="breadcrumbs-item">Губка CMM-155</li>#}
							</ul>

						</div>
					</div>
				</div>
			</section>

			<section id="subcategories-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<h3>{{ group.name }}</h3>
							</div>

							<div class="subcategories-list">
								<div class="row">
									{% for childGroup in group.childrenGroups %}
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="{{ group_url(childGroup) }}" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url({{ childGroup.photo }});"></div>
											<h4 class="subcategory-title">{{ childGroup.name }}</h4>
										</a>

									</div>
									{% endfor %}
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

			<section id="search-sect">
				<div class="container">
					<div class="row">
						<div class="col-xs-8 col-lg-6 offset-xs-2 offset-lg-3">
							
							<form class="search-bar-form">
								<input type="text" class="search-bar" placeholder="Введите ваш запрос">
								<button class="search-submit-btn bttn bttn-sm bttn-sky-blue-gradient"><i class="fa fa-search"></i> &nbsp; Искать</button>
							</form>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}