<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="SEO Description">
    <meta name="keywords" content="keywords">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {#<meta property="og:image" content="path/to/image.jpg">#}
    {#<meta property="og:title" content="og_title"/>#}
    {#<meta property="og:description" content="og_description"/>#}

    <title>Title</title>
    <link rel="shortcut icon" href="{{ image_url('favicon/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="/build/css/styles.min.css">

</head>

<body>

<div id="main-wrap" class="main-wrapper">

    <header class="main-header">

        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-5 col-lg-2 order-lg-1">

                        <div class="logo-wrapper">
                            <a href="/" class="logo"></a>
                        </div>

                    </div>
                    <div class="col-7 col-lg-2 order-lg-5">

                        <ul class="user-interface-nav">
                            <li class="nav-item">
                                <a href="#">
                                    <span class="nav-icon"><span class="icon-img" style="background-image: url({{ image_url('default/icons/user-icon.png') }});"></span></span>
                                </a>
                            </li>

                            <li class="nav-item">

                                <a href="account-basket.html">
                                    <div class="shop-cart-preview-block">
                                        <div class="shop-cart-head">
                                            <span class="nav-icon"><span class="icon-img" style="background-image: url({{ image_url('default/icons/shopping-cart-icon.png') }});"></span></span>
                                            <span class="order-quant-label">3</span>
                                        </div>

                                        <div class="order-summary">
                                            <div class="order-quant-text">3 товара</div>
                                            <div class="summary-text">Итого: <span class="order-price">45.8 BYN</span></div>
                                        </div>
                                    </div>
                                </a>

                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-3 col-lg-2 mt-4 mt-xs-2 mt-lg-0 order-lg-2">

                        <div class="header-contact-info">
                            <span class="info-icon" style="background-image: url({{ image_url('default/icons/clock-icon.png') }});"></span>

                            <div id="header-time-info-content" class="info-content">
                                <b>Пн - Пт</b> <br>
                                9:00-19:00
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5 col-lg-3 mt-3 mt-xs-2 mt-lg-0 order-lg-3">

                        <div class="header-contact-info">
                            <span class="info-icon" style="background-image: url({{ image_url('default/icons/map-marker-icon.png') }});"></span>

                            <div class="info-content">
                                <b>г. Минск, ул. Бабушкина,</b> </br>
                                дом 6А, комната 203 <br>
                                <a href="mailto:info@monami.by" class="email-link">info@monami.by</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4 col-lg-3 mt-3 mt-xs-2 mt-lg-0 order-lg-4">

                        <div class="header-contact-info">
                            <span class="info-icon" style="background-image: url({{ image_url('default/icons/phone-icon.png') }});"></span>

                            <div class="info-content">
                                <a href="tel:+375 (33) 666-90-10" class="phone-link">+375 (33) 666-90-10</a> <br>
                                <a href="tel:+375 (33) 666-90-10" class="phone-link">+375 (33) 666-90-10</a> <br>
                                <div class="header-show-all-contacts">
                                    <div class="show-contacts-head">посмотреть все контакты</div>

                                    <div class="show-contacts-dropdown">
                                        <div class="contacts-list-wrap">
                                            <div class="contacts-icon">
                                                <div class="i fa fa-phone"></div>
                                            </div>

                                            <ul class="contacts-list">
                                                <li><a href="tel:+375 (33) 666-90-10" class="phone-link">+375 (33) 666-90-10</a> <img src="{{ image_url('default/icons/mts-icon.png') }}" id="mts-icon" alt=""></li>
                                                <li><a href="tel:+375 (29) 666-80-04" class="phone-link">+375 (29) 666-80-04</a> <img src="{{ image_url('default/icons/velcom-icon.png') }}" id="velcom-icon" alt=""></li>
                                                <li><a href="tel:+375 (25) 603-71-02" class="phone-link">+375 (25) 603-71-02</a> <img src="{{ image_url('default/icons/life-icon.png') }}" id="life-icon" alt=""></li>
                                            </ul>
                                        </div>

                                        <div class="contacts-list-wrap">
                                            <div class="contacts-icon">
                                                <img id="old-phone-icon" src="{{ image_url('default/icons/old-phone-icon.png') }}" alt="">
                                            </div>

                                            <ul class="contacts-list">
                                                <li><a href="tel:+375 17 291 90 85" class="phone-link">+375 17 291 90 85</a></li>
                                                <li><a href="tel:+375 17 291 90 86" class="phone-link">+375 17 291 90 86</a></li>
                                                <li><a href="tel:+375 17 291 90 98" class="phone-link">+375 17 291 90 98</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="show-contacts-backdrop"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="header-nav-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-2 col-md-8">

                        <span id="toggleMenuBtn" class="d-md-none"><i class="fa fa-bars"></i></span>

                        <ul class="main-header-nav d-none d-md-block">
                            <li class="nav-item"><a href="conditions.html">Условия сотрудничества</a></li>
                            <li class="nav-item"><a href="discounted-goods.html">Уцененный товар</a></li>
                            <li class="nav-item"><a href="help.html">Помощь</a></li>
                            <li class="nav-item"><a href="contacts.html">Контакты</a></li>
                            <li class="nav-item"><a href="about.html">О нас</a></li>
                        </ul>

                    </div>
                    <div class="col-10 col-xs-6 col-md-4 offset-xs-4 offset-md-0">

                        <form class="header-search-bar-form"> <!-- add "hints-active" class to dispaly search-hints-wrapper -->
                            <input type="text" class="search-bar" placeholder="Введите ваш запрос">
                            <button class="search-submit-btn"><img src="{{ image_url('default/icons/search-icon.png') }}" id="search-icon" alt=""></button>
                            <div class="search-hints-wrapper">
                                <ul class="hints-list">
                                    <li class="hint-item">Кухонные принадлежности</li>
                                    <li class="hint-item">Кухонные губки</li>
                                    <li class="hint-item">Кухонные ножи</li>
                                </ul>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div id="mobileMenu" class="mobile-menu">
            <span id="closeMobileMenuBtn"><i class="fa fa-close"></i></span>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <ul class="mobile-nav">
                            <li class="nav-item"><a href="conditions.html">Условия сотрудничества</a></li>
                            <li class="nav-item"><a href="discounted-goods.html">Уцененный товар</a></li>
                            <li class="nav-item"><a href="help.html">Помощь</a></li>
                            <li class="nav-item"><a href="contacts.html">Контакты</a></li>
                            <li class="nav-item"><a href="about.html">О нас</a></li>
                        </ul>

                        <form class="header-search-bar-form">
                            <input type="text" class="search-bar" placeholder="Введите ваш запрос">
                            <button class="search-submit-btn"><img src="{{ image_url('default/icons/search-icon.png') }}" id="search-icon" alt=""></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block body %}{% endblock %}

    <footer class="main-footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">

                        <div class="footer-column">
                            <h6 class="column-title">Меню</h6>

                            <ul class="footer-nav">
                                <li class="nav-item"><a href="conditions.html">Условия сотрудничества</a></li>
                                <li class="nav-item"><a href="help.html">Помощь</a></li>
                                <li class="nav-item"><a href="contacts.html">Контакты</a></li>
                                <li class="nav-item"><a href="about.html">О нас</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-6 col-md-3">

                        <div class="footer-column">
                            <h6 class="column-title">Полезное</h6>

                            <ul class="footer-nav">
                                <li class="nav-item"><a href="account-basket.html">Моя корзина</a></li>
                                <li class="nav-item"><a href="discounted-goods.html">Уцененный товар</a></li>
                                <li class="nav-item"><a href="vacancies.html">Вакансии</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6 mt-5 mt-md-0">

                        <div class="footer-column">
                            <h6 class="column-title">Контакты</h6>

                            <div class="footer-contacts-wrap">
                                <div class="footer-contact-info">
                                    <span class="info-icon"><i class="fa fa-map-marker"></i></span>

                                    <div class="info-content">
                                        224024, г. Минск, ул. Бабушкина, <br>
                                        дом 6а, ком. 203
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">

                                        <div class="footer-contact-info">
                                            <span class="info-icon"><i class="fa fa-phone"></i></span>

                                            <div class="info-content">
                                                <a href="#" class="phone-link">+375 (33) 666-90-10</a> <br>
                                                <a href="#" class="phone-link">+375 (29) 666-80-04</a> <br>
                                                <a href="#" class="phone-link">+375 (25) 603-71-02</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-6">

                                        <div class="footer-contact-info">
                                            <span class="info-icon"><img id="old-phone-icon" src="{{ image_url('default/icons/old-phone-icon.png') }}" alt=""></span>

                                            <div class="info-content">
                                                <a href="#" class="phone-link">+375 17 291 90 85</a> <br>
                                                <a href="#" class="phone-link">+375 17 291 90 86</a> <br>
                                                <a href="#" class="phone-link">+375 17 291 90 98</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="footer-contact-info">
                                    <span class="info-icon"><i class="fa fa-envelope"></i></span>

                                    <div class="info-content">
                                        info@monami.by
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <ul class="socials-list">
                            <li><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa fa-youtube-square"></i></a></li>
                        </ul>

                        <div class="footer-copyright">Все права защищены 2018</div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- htmlbuild:js -->
<script type="text/javascript" src="/build/js/libs.min.js"></script>
<script type="text/javascript" src="/build/js/client.min.js"></script>
<!-- endbuild -->

</body>
</html>