<!DOCTYPE html>
<html ng-app="appMonami">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="SEO Description">
    <meta name="keywords" content="keywords">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {#<meta property="og:image" content="path/to/image.jpg">#}
    {#<meta property="og:title" content="og_title"/>#}
    {#<meta property="og:description" content="og_description"/>#}

    <title>Title</title>
    <link rel="shortcut icon" href="{{ image_url('favicon/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="/build/css/bower_components.css">
    <link rel="stylesheet" href="/build/css/styles.min.css">
    <link rel="stylesheet" href="/build/css/slider.min.css">
    <script src="//code.jivosite.com/widget/09lrVP6ygg" async></script>
    <link href="https://db.onlinewebfonts.com/c/2c6d794b5cfbe2958da38a4c6aeddde9?family=flexslider-icon" rel="stylesheet" type="text/css"/>
</head>

{% set cart = app.user != null ? app.user.basket.toArray() | json_encode : app.request.cookies.get("guest-cart") %}
<body ng-controller="AppCtrl as app" ng-init="app.CartService.init('{{ cart }}', '{{ app.user ? 0 : 1  }}'); ">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="error" style="color: red"></div>
                <form action="/login_check" class="my-login-form" method="post">
                    <label for="username">Имя пользователя</label>
                    <br/>
                    <input type="text" id="username" name="_username" value="" required="required" autocomplete="username">
                    <br/>
                    <label for="password">Пароль</label>
                    <br/>
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password">
                    <br/>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                    <label for="remember_me">Запомнить меня</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Войти</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="main-wrap" class="main-wrapper">

    <header class="main-header">

        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-5 col-lg-2 order-lg-1">

                        <div class="logo-wrapper">
                            <a style="height: 95px;" href="/" class="logo"></a>
                        </div>

                    </div>


                    <div class="col-7 col-lg-2 order-lg-5">
                        <ul class="user-interface-nav">
                            <li class="nav-item">
                                {% if app.user == null %}
                                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                                        <span class="nav-icon"><span class="icon-img" style="background-image: url({{ image_url('default/icons/user-icon.png') }});"></span></span>
                                    </a>
                                {% else %}
                                    {{ app.user.username }}
                                    <a href="{{ app.user == null ? path('fos_user_security_login') : path('show_profile_basket') }}">
                                        <span class="nav-icon"><span class="icon-img" style="background-image: url({{ image_url('default/icons/user-icon.png') }});"></span></span>
                                    </a>
                                {% endif %}
                            </li>

                            <li class="nav-item">

                                <a href="{{ path("show_profile_basket") }}">
                                    <div class="shop-cart-preview-block">
                                        <div class="shop-cart-head">
                                            <span class="nav-icon"><span class="icon-img" style="background-image: url({{ image_url('default/icons/shopping-cart-icon.png') }});"></span></span>
                                            <span class="order-quant-label" ng-bind="app.CartService.getCountProducts()"></span>
                                        </div>

                                        <div class="order-summary">
                                            <div class="order-quant-text" ng-bind="app.CartService.getCountProducts() + ' товара'"></div>
                                            <div class="summary-text">Итого: <span class="order-price" ng-bind="app.CartService.getCart().sum + ' BYN'"></span></div>
                                        </div>
                                    </div>
                                </a>

                            </li>

                            {% if app.user %}
                                <li class="nav-item">
                                    <a href="/logout" alt="Выход">
                                        <span class="nav-icon"><span class="icon-img" style="background-size: background-image: url({{ image_url('default/icons/exit-icon.png') }});"></span></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                    <div class="col-xs-3 col-lg-2 mt-4 mt-xs-2 mt-lg-0 order-lg-2">

                        <div class="header-contact-info">
                            <span class="info-icon" style="background-image: url({{ image_url('default/icons/clock-icon.png') }});"></span>

                            <div id="header-time-info-content" class="info-content">
                                {{ get_time_work() | raw }}
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5 col-lg-3 mt-3 mt-xs-2 mt-lg-0 order-lg-3">

                        <div class="header-contact-info">
                            <span class="info-icon" style="background-image: url({{ image_url('default/icons/map-marker-icon.png') }});"></span>

                            <div class="info-content">
                                <b>г. Минск, ул. Бабушкина,</b> </br>
                                дом 6А, комната 203 <br>
                                <a href="mailto:info@monami.by" class="email-link">info@monami.by</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4 col-lg-3 mt-3 mt-xs-2 mt-lg-0 order-lg-4">

                        <div class="header-contact-info">
                            <span class="info-icon" style="background-image: url({{ image_url('default/icons/phone-icon.png') }});"></span>

                            <div class="info-content">
                                <a href="tel:+375 (33) 666-90-10" class="phone-link">+375 (33) 666-90-10</a> <br>
                                <a href="tel:+375 (33) 666-90-10" class="phone-link">+375 (29) 666-80-04</a> <br>
                                <div class="header-show-all-contacts">
                                    <div class="show-contacts-head">посмотреть все контакты</div>

                                    <div class="show-contacts-dropdown">
                                        <div class="contacts-list-wrap">
                                            <div class="contacts-icon">
                                                <div class="i fa fa-phone"></div>
                                            </div>

                                            <ul class="contacts-list">
                                                <li><a href="tel:+375 (33) 666-90-10" class="phone-link">+375 (33) 666-90-10</a> <img src="{{ image_url('default/icons/mts-icon.png') }}" id="mts-icon" alt=""></li>
                                                <li><a href="tel:+375 (29) 666-80-04" class="phone-link">+375 (29) 666-80-04</a> <img src="{{ image_url('default/icons/velcom-icon.png') }}" id="velcom-icon" alt=""></li>
                                                <li><a href="tel:+375 (25) 603-71-02" class="phone-link">+375 (25) 603-71-02</a> <img src="{{ image_url('default/icons/life-icon.png') }}" id="life-icon" alt=""></li>
                                            </ul>
                                        </div>

                                        <div class="contacts-list-wrap">
                                            <div class="contacts-icon">
                                                <img id="old-phone-icon" src="{{ image_url('default/icons/old-phone-icon.png') }}" alt="">
                                            </div>

                                            <ul class="contacts-list">
                                                <li><a href="tel:+375 17 291 90 85" class="phone-link">+375 17 291 90 85</a></li>
                                                <li><a href="tel:+375 17 291 90 86" class="phone-link">+375 17 291 90 86</a></li>
                                                <li><a href="tel:+375 17 291 90 98" class="phone-link">+375 17 291 90 98</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="show-contacts-backdrop"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="header-nav-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-2 col-md-8">

                        <span id="toggleMenuBtn" class="d-md-none"><i class="fa fa-bars"></i></span>

                        <ul class="main-header-nav d-none d-md-block">
                            <li class="nav-item"><a href="{{ path("show_static_conditions") }}">Условия сотрудничества</a></li>
                            <li class="nav-item"><a href="{{ path("show_general_catalog") }}">Каталог</a></li>
                            <li class="nav-item"><a href="{{ path("show_help") }}">Помощь</a></li>
                            <li class="nav-item"><a href="{{ path("show_static_contacts") }}">Контакты</a></li>
                            <li class="nav-item"><a href="{{ path("show_static_about") }}">О нас</a></li>
                        </ul>

                    </div>
                    <div class="col-10 col-xs-6 col-md-4 offset-xs-4 offset-md-0">

                        <form class="header-search-bar-form" ng-controller="SearchCtrl as search" ng-class="{'hints-active' : search.products.length > 0}">
                            <input type="text" class="search-bar" ng-model="search.text" ng-change="search.text.length > 1 ? search.search(search.text) : ''" placeholder="Введите ваш запрос">
                            <button class="search-submit-btn" ng-click="search.showResults(search.text)"><img src="{{ image_url('default/icons/search-icon.png') }}" id="search-icon" alt=""></button>
                            <div class="search-hints-wrapper" ng-show="search.products.length > 0">
                                <ul class="hints-list" ng-repeat="product in search.products">
                                    <li class="hint-item"><a ng-href="/product/{{ '{{ product.id }}' }}" ng-bind="product.name"></a></li>
                                </ul>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div id="mobileMenu" class="mobile-menu">
            <span id="closeMobileMenuBtn"><i class="fa fa-close"></i></span>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <ul class="mobile-nav">
                            <li class="nav-item"><a href="{{ path("show_static_conditions") }}">Условия сотрудничества</a></li>
                            <li class="nav-item"><a href="{{ path("show_general_catalog") }}">Каталог</a></li>
                            <li class="nav-item"><a href="{{ path("show_help") }}">Помощь</a></li>
                            <li class="nav-item"><a href="{{ path("show_static_contacts") }}">Контакты</a></li>
                            <li class="nav-item"><a href="{{ path("show_static_about") }}">О нас</a></li>
                        </ul>

                        <form class="header-search-bar-form" ng-controller="SearchCtrl as search" ng-class="{'hints-active' : search.products.length > 0}">
                            <input type="text" class="search-bar" ng-model="search.text" ng-change="search.text.length > 1 ? search.search(search.text) : ''" placeholder="Введите ваш запрос">
                            <button class="search-submit-btn" ng-click="search.showResults(search.text)"><img src="{{ image_url('default/icons/search-icon.png') }}" id="search-icon" alt=""></button>
                            <div class="search-hints-wrapper" ng-show="search.products.length > 0">
                                <ul class="hints-list" ng-repeat="product in search.products">
                                    <li class="hint-item"><a ng-href="/product/{{ '{{ product.id }}' }}" ng-bind="product.name"></a></li>
                                </ul>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block body %}{% endblock %}

    <footer class="main-footer">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">

                        <div class="footer-column">
                            <h6 class="column-title">Меню</h6>

                            <ul class="footer-nav">
                                <li class="nav-item"><a href="{{ path("show_static_conditions") }}">Условия сотрудничества</a></li>
                                <li class="nav-item"><a href="{{ path("show_help") }}">Помощь</a></li>
                                <li class="nav-item"><a href="{{ path("show_static_contacts") }}">Контакты</a></li>
                                <li class="nav-item"><a href="{{ path("show_static_about") }}">О нас</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-6 col-md-3">

                        <div class="footer-column">
                            <h6 class="column-title">Полезное</h6>

                            <ul class="footer-nav">
                                <li class="nav-item"><a href="{{ path("show_profile_basket") }}">Моя корзина</a></li>
                                <li class="nav-item"><a href="{{ path("show_static_discounted") }}">Уцененный товар</a></li>
                                <li class="nav-item"><a href="{{ path("show_static_vacancies") }}">Вакансии</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6 mt-5 mt-md-0">

                        <div class="footer-column">
                            <h6 class="column-title">Контакты</h6>

                            <div class="footer-contacts-wrap">
                                <div class="footer-contact-info">
                                    <span class="info-icon"><i class="fa fa-map-marker"></i></span>

                                    <div class="info-content">
                                        224024, г. Минск, ул. Бабушкина, <br>
                                        дом 6а, ком. 203
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">

                                        <div class="footer-contact-info">
                                            <span class="info-icon"><i class="fa fa-phone"></i></span>

                                            <div class="info-content">
                                                <a href="#" class="phone-link">+375 (33) 666-90-10</a> <br>
                                                <a href="#" class="phone-link">+375 (29) 666-80-04</a> <br>
                                                <a href="#" class="phone-link">+375 (25) 603-71-02</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-6">

                                        <div class="footer-contact-info">
                                            <span class="info-icon"><img id="old-phone-icon" src="{{ image_url('default/icons/old-phone-icon.png') }}" alt=""></span>

                                            <div class="info-content">
                                                <a href="#" class="phone-link">+375 17 291 90 85</a> <br>
                                                <a href="#" class="phone-link">+375 17 291 90 86</a> <br>
                                                <a href="#" class="phone-link">+375 17 291 90 98</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="footer-contact-info">
                                    <span class="info-icon"><i class="fa fa-envelope"></i></span>

                                    <div class="info-content">
                                        info@monami.by
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <ul class="socials-list">
                            <li><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-link"><i class="fa fa-youtube-square"></i></a></li>
                        </ul>

                        <div class="footer-copyright">Все права защищены 2018</div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- htmlbuild:js -->
{#<script type="text/javascript" src="/build/js/libs.min.js"></script>#}
<script type="text/javascript" src="/build/js/libs/jquery.js"></script>
<script type="text/javascript" src="/build/js/libs/owl.carousel.min.js"></script>
<script type="text/javascript" src="/build/js/libs/angular.js"></script>
<script type="text/javascript" src="/build/js/libs/angular-cookies.min.js"></script>
<script type="text/javascript" src="/build/js/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js/libs/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/build/js/libs/thumbnail-slider.js"></script>
<script type="text/javascript" src="/build/js/libs/jquery.flexslider.js"></script>
<script type="text/javascript" src="/build/js/client.min.js"></script>
<!-- endbuild -->

<script>
    $(document).ready(function(){
        $('#_submit').click(function(e){
            $('.error').html('');
            e.preventDefault();
            $.ajax({
                type        : $('form').attr( 'method' ),
                url         : '{{ path("check_login_new") }}',
                data        : $('form').serialize(),
                dataType    : "json",
                success     : function(data, status, object) {
                    if(data.error.length > 0){
                        $('.error').html(data.error + '</br></br>');
                    } else {
                        $('.my-login-form').submit();
                    }
                },
                error: function(data, status, object){
                    console.log(data.message);
                }
            });
        });
    });
</script>

</body>
</html>
